/* Horizontal Carousel */
#carousel-container {
  float:left;
  width: 975px;
  height: 320px;
  margin-bottom: 10px;
  position: relative;
  color: #96172E;
}         

#carousel-container .container {
  position: absolute;
  top: 5px;
  left: 37px;  
  width: 896px;
  height: 320px;
  overflow:hidden;  
  padding-top: 50px; 
}            

#carousel-container .previous_button {
  position: absolute;
  font-size: 18px;
  top: 5px;
  left: 370px;
  width: 40px;
  height: 40px;
  z-index: 100;    
  cursor:pointer;
  text-indent: -9999px;
  background: url(../../images/arrows.jpg) top left no-repeat; 
}        

#carousel-container .previous_button_disabled {
  cursor:default;
  color: #CCC;
  background-position: bottom left;
}

#carousel-container .next_button {
  position: absolute;
  font-size: 18px;
  top: 5px;
  right: 390px;
  width: 40px;
  height: 40px;
  z-index: 100;
  cursor:pointer;
  text-indent: -9999px;
  background: url(../../images/arrows.jpg) top right no-repeat; 
}   

#carousel-container .next_button_disabled {
  cursor:default;
  color: #CCC;
  background-position: bottom right;
}

#carousel-index
{
  position: absolute;
  left: 440px;
  width: 70px;
  text-align: center;
  padding-top: 15px;
}

#carousel-container ul {
  margin: 0;
  padding:0;
  width: 100000px;
  position: relative;
  top: 0;
  left: 0;
  height: 200px;
}                      

#carousel-container ul li img {
  display:block;     
  margin: 0 auto;
}                               

#carousel-container ul li {
  font-size:10px;
}                               

#carousel-container ul li {
  margin:0pt;
  padding:15px 10px 10px;
  width:276px;
  list-style:none;   
  float:left;
}
